name: CI/CD

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '23'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test:unit

      - name: Build the website
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: application-bundle
          path: dist/

  deploy:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/ci-cd'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: application-bundle
          path: dist/
        
      - name: Install s3cmd
        run: sudo apt-get install -y s3cmd

      - name: Deploy to Scaleway
        run: |
          s3cmd --no-mime-magic --guess-mime-type sync --access_key=${{ secrets.SCW_ACCESS_KEY }} --secret_key=${{ secrets.SCW_SECRET_KEY }} --region=${{ vars.SCW_BUCKET_REGION }} --host=${{ vars.SCW_BUCKET_HOST }} --host-bucket='${{ vars.SCW_BUCKET_HOST_BUCKET }}' --ssl ./dist/* s3://${{ vars.SCW_BUCKET_NAME }}/
