
name: Upload to Scaleway Object Storage

on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '23'

      - name: Install dependencies
        run: npm install

      - name: Build the website
        run: npm run build
        
      - name: Install s3cmd
        run: sudo apt-get install -y s3cmd

      - run: |
          s3cmd --no-mime-magic --guess-mime-type sync --access_key=${{ secrets.SCW_ACCESS_KEY }} --secret_key=${{ secrets.SCW_SECRET_KEY }} --region=${{ vars.SCW_BUCKET_REGION }} --host=${{ vars.SCW_BUCKET_HOST }} --host-bucket='${{ vars.SCW_BUCKET_HOST_BUCKET }}' --ssl ./dist/* s3://${{ vars.SCW_BUCKET_NAME }}/

